<%- include("partials/header") -%>

<h1>Contact Me</h1>
<p>
  <a href="mailto:<%=email%>">Email</a>
</p>
<p>
  <a href="<%=github%>">Github</a>
</p>
<p>
  <a href="<%=linkedin%>">linkedIn</a>
</p>

<p>Contact No:- <%=contactNo%></p>

<%- include("partials/footer") -%>
