<%- include("partials/header") -%>

<h1>Why write Journal?</h1>
<p><%=homeStartingContent%></p>
<h1>Your Journals</h1>

<% allPosts.forEach(post => { %>
    <div>
        <h3><%= post.postTitle %></h3>
      <p><%= post.postContent.substring(0, 100) + "..." %>
        <a href="/posts/<%=post.postTitle%>">Read More</a>
      </p>
    </div>

<% });  %>



<%- include("partials/footer") -%>
